
<!-- den er headerborder for stor box og bruker flexbox-->
.headingBorder{
    border: 20px;
    background-color: burlywood;
    font-size: 20px;
    color:brown;
    margin: 20px 20px 0 20px;
    padding: 20px 20px 20px 20px;
    border-style: solid ;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}   
 
<!--  flyttet bildet til høyre side-->
.floatright
{
    float:right;
     
}                         
        
<!-- her text under box er small-->
 small{
     margin-left: 50px;
     color:olive;
      }
      <!-- den er bilde i headerog border be double-->
        .img {
                
                 border: 20px double olive;
                 
             }